nav a {
	color: #149722;
	font-weight: bold;
	font-family: serif;
	font-size: 15pt;
	text-decoration: none;
}

a:link {
	
}

a:visited { 
	
}

nav a:hover {
	background-color: #42BA00;
	color: white;
	text-decoration: underline;
	padding: 10px;
	padding-left: 80px;
}

nav a:active {
	background-color: #149722;
}

section#topo ul {
	list-style-type: none;
}

section#topo li{
	padding: 10px;
}